<!DOCTYPE html>
   <head>
    <title>{{ title }}</title>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        #on {
            background-color: #fbf09a;
            position: absolute;
            width: 100%;
            height: 50%;
        }
        #off {
            background-color: #1e170b;
            position: absolute;
            width: 100%;
            height: 50%;
            top: 50%;
        }
    </style>
    </head>
    <body>
        <h1>
            <a href="/on" id="on"></a>
        </h1>
        <h1>
            <a href="/off" id="off"></a>
        </h1>
    </body>
</html>

